/* Estrutura site */
body {
    background: #c5c5c5 url(../assets/fundo.png) repeat-x;
    font: 12px "Lucida Grande", 'Lucida Sans Unicode', Arial, sans-serif ;
}

#container {
    margin: 0 auto;
    width: 1080px;
}

a {
    color: black;
    text-decoration: none;
}

/* header */
@font-face {
    font-family: "autography";
    src: url("Autography.woff");
}

h1 a {
    color: white;
    font-family: "autography";
    font-size: 1.5em;
    margin: auto 30px;
    text-decoration: none;
}

/* Barra de navegação */
header {
    height: 55px;
    padding: 15px 0;
}

nav ul {
    float: right;
    list-style: none;
    margin: -155px 30px;
}

nav ul li {
    float: left;
}

nav ul li a:link {
    display: block;
    margin: 90px 30px;
    padding: 3px 15px;
    text-transform: uppercase;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 1px solid #a3a3a3;
    color: darkgray;
}

/* Principal */
h2 {
	color: black;
	font-size: 1.6em;
	text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 1.3em;
    padding: 5px 20px;
    text-justify: distribute;
}

#postagens {
    background: url(../assets/bg-area-principal.png);
}

#conteudo {
    
    background: #c5c5c5 url(../assets/bg-area-principal.png) top repeat-x;
    float: left;
    margin: 70px auto;
    width: 710px;
}

#mais {
    display: none;
}

#btn {
    display: none;
}

#list {
    display: inherit;
}

#fotos {
    margin: auto 90px;
}

.espaço {
    padding: 10px 20px;
}

#mais ul li a {
    color: rgb(56, 56, 56);
    text-transform: uppercase;
}

#mais ul li a:hover {
    border-bottom: 1px solid #535858
}

#btn ul li a {
    color: rgb(56, 56, 56);
    text-transform: uppercase;
}

#btn ul li a:hover {
    border-bottom: 1px solid #535858
}

#complet{
    background: #c5c5c5 url(../assets/bg-area-principal.png) top repeat-x;
    float: left;
}

/* aside */
#area-lateral {
    background: url(../assets/bg-area-lateral.png);
    float: right;
    margin: 70px -20px 0px 0px; 
    width: 350px;
}

h3 {
	font-size: 1em;
	text-transform: uppercase;
    color: black;
    text-align: center;
}

#conteudo-lateral ul li a {
    color: rgb(31, 31, 31);
    text-transform: uppercase;
}

#conteudo-lateral ul li a:hover {
    border-bottom: 1px solid #535858
}

/* rodape */
footer{
	clear: both;
	margin-top: 20px;
	padding: 20px 0 30px 250px;
	text-align: inherit;
}
